<section class="movie-details">
    <div class="container py-5">
        <h3 class="text-white">{{movieDetails.original_title}}</h3>
        <span class="text-white">Release Date: {{movieDetails.release_date}}</span>
        <div class="movie-content">
            <img class="img-fluid" src="https://image.tmdb.org/t/p/w500{{movieDetails.backdrop_path}}"/>
            <iframe width="50%" height="auto" [src]="safeSrc"  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <p class="text-white mt-3">{{movieDetails.overview}}</p>
        <div class="similar-movies">
            <h3 class="text-white pt-3">Similar Movies</h3>
            <div class="row">
                <div *ngFor="let simovie of similarMovies" class="col-4 py-3">
                    <div class="similar-movie">
                        <a  [routerLink]="['../', simovie.id]">
                        <div class="img-movie">
                            <img class="img-fluid" src="https://image.tmdb.org/t/p/w500{{simovie.poster_path}}"/>
                            </div>
                            <div class="movie-overlay d-flex align-items-center justify-content-center">
                            <div class="movie-info">
                            <h2>{{simovie.title}}</h2>
                            <p>{{simovie.overview}}</p>
                            <p>rate:{{simovie.vote_average}}</p>
                            <p>{{simovie.release_date}}</p>
                            </div>
            
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>